{% extends 'geonode-mapstore-client/_geonode_config.html' %}
{% block override_local_config %}

{% comment %} Keep the overrides from other apps {% endcomment %}
{{ block.super }}

<script>
    (function() {
        
        const { overrideLocalConfig } = window.__GEONODE_CONFIG__;
        window.__GEONODE_CONFIG__.overrideLocalConfig = function(localConfig, _) {
            if (overrideLocalConfig) {
                overrideLocalConfig(localConfig, _)
            }

            var pluginPageName = "catalogue";
            var selectedPluginName = "ResourcesGrid";

            for (var i = 0; i < localConfig.plugins[pluginPageName].length; i++) {
                var currentPlugin = localConfig.plugins[pluginPageName][i];
                var isSelectedPlugin = currentPlugin.name === selectedPluginName;
                if (isSelectedPlugin) {
                    // apply configuration to the plugin
                    const plugin = localConfig.plugins[pluginPageName][i]

                    const { filtersFormItems, menuItems } = plugin.cfg

                    filtersFormItems[0].items.push({
                        id: "externalapplication",
                        labelId: "externalapplications.filter",
                        type: "filter"
                    });
                    localConfig.geoNodeCustomFilters = Object.assign(localConfig.geoNodeCustomFilters, {
                        "externalapplication": {
                            "filter{resource_type.in}": "externalapplication"
                        }
                    });

                    menuItems[0].items.push({
                        labelId: "externalapplications.register",
                        value: "externalapplication",
                        type: "link",
                        href: "/externalapplications/create",
                        authenticated: true,
                        perms: [
                            {
                                "type": "user",
                                "value": "add_resource"
                            }
                        ]
                    });
                }
            }

            return localConfig;
        };
    })();
</script>
{% endblock %}